.cover {
    position: relative;
    background-position: center;
    background-size: cover;
    height: 400px;
  }
  .cover .masking {
    position: relative;
    width: 100%;
    bottom: 20%;
    top: 0;
    background-color: black;
    opacity: 0.5;
    z-index: 0;
  }
  .cover .credit {
    position: absolute;
    left: 10px;
    bottom: 10px;
  }
  .cover .social a {
    color: white;
  }
  body {
    background-color: rgb(82, 82, 82);
  }
  .Article-heading {
    color: aliceblue;
    width: 188;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .Contact-heading {
    color: aliceblue;
    width: 188;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .form-label {
    color: aliceblue;
  }
  
  body{
    background-color: rgb(82, 82, 82);
    background-repeat: no-repeat;
    background-size: 1400px auto;
 }
